.auth {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-top: 5rem;
}

.errorMsg {
  color: red;
  word-wrap: break-word;
}

.singleTopic {
  margin: 0.5rem 0;
  background-color: rgb(212, 212, 212);
  color: rgb(26, 26, 26);
  border-radius: 8px;
  padding: 0.5rem;
}

.profilePic {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.oldReplies {
  margin: 0.5rem 0;
  background-color: rgb(65, 65, 65);
  color: rgb(216, 216, 216);
  border-radius: 8px;
  padding: 0.5rem;
}